table {
	border: 1px solid silver;
}

td:hover {
	background-color: aquamarine;
	color: black;
}

tr, th {
	background-color: blueviolet;
	color: cornsilk;
}

tr, td {
	background-color: darkgreen;
	color: white;
}